
<div class="page">
    <div class="row">
        <div class="col-sm-3">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <a href="#/mail/compose" class="btn btn-block btn-lg btn-primary">Compose</a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge badge-info">6</span><i class="fa fa-inbox"></i>Inbox</li>
                    <li class="list-group-item"><i class="fa fa-envelope-o"></i>Send mail</li>
                    <li class="list-group-item"><span class="badge badge-danger">3</span><i class="fa fa-star"></i>Starred</li>
                    <li class="list-group-item"><i class="fa fa-comment-o"></i>Chat</li>
                    <li class="list-group-item"><i class="fa fa-pencil"></i>Draft</li>
                    <li class="list-group-item"><i class="fa fa-trash-o"></i>Spam</li>
                </ul>
            </section>

            <section class="panel panel-default">
                <div class="panel-heading">Label</div>
                <ul class="list-group">
                    <li class="list-group-item">Work <i class="fa fa-circle color-danger pull-right"></i></li>
                    <li class="list-group-item">Friends <i class="fa fa-circle color-info pull-right"></i></li>
                    <li class="list-group-item">Family <i class="fa fa-circle color-primary pull-right"></i></li>
                    <li class="list-group-item">Private <i class="fa fa-circle color-warning pull-right"></i></li>
                </ul>
            </section>
        </div>
        <div class="col-sm-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Inbox</strong></div>
                <div class="mail-options"></div>
                <div class="mail-container">
                    <table class="table table-hover">
                        
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>