
<div class="page">
    <div class="row">
        <div class="col-sm-3">
            <section class="panel panel-default">
                <div class="panel-heading">
                    
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge badge-info">6</span>Inbox</li>
                    <li class="list-group-item">Send mail</li>
                    <li class="list-group-item"><span class="badge badge-danger">3</span>Important</li>
                    <li class="list-group-item">Draft</li>
                    <li class="list-group-item">Trash</li>
                    <li class="list-group-item">Spam</li>
                </ul>
            </section>

            <section class="panel panel-default">
                <div class="panel-heading">Label</div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge badge-info">0</span>Work</li>
                    <li class="list-group-item">Friends</li>
                    <li class="list-group-item"><span class="badge badge-danger">0</span>Family</li>
                    <li class="list-group-item">Private</li>
                </ul>
            </section>
        </div>
        <div class="col-sm-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Inbox</strong></div>
                <div class="panel-body">
                    
                </div>
            </section>
        </div>
    </div>
</div>